body {
    background-color: rgb(191, 201, 202);
    margin: 20px 0;
    font-family: sans-serif;
}

.wrapper {
    width: 1600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
}

header {
    padding: 50px;
}

header>#logo {
    font-size: 2em;
}

aside {
    float: right;
}

section {
    width: 70%;
    float: left;
}